In [3]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

ModuleNotFoundError: No module named 'google.colab'

## Optional: Enable data table display

Colab includes the ``google.colab.data_table`` package that can be used to display large pandas dataframes as an interactive data table.
It can be enabled with:

In [3]:
%load_ext google.colab.data_table

If you would prefer to return to the classic Pandas dataframe display, you can disable this by running:
```python
%unload_ext google.colab.data_table
```

In [12]:
# Save output in a variable `df`

%%bigquery --project eim-prod df
SELECT Customer_ID, Total_Dollar_Spent
FROM `eim-dev.sandbox.CUSTOMER_CURRENT_STATIC`
WHERE RAND() < 2000000/(SELECT COUNT(*) FROM `eim-dev.sandbox.CUSTOMER_CURRENT_STATIC`)

In [14]:
df.head()

   Customer_ID Total_Dollar_Spent
0   1056735974            7528.64
1   1135109636             547.77
2   1028719391            7401.81
3   1301513396             287.96
4   1297415994             150.88

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001693 entries, 0 to 2001692
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   Customer_ID         int64
 1   Total_Dollar_Spent  float64
dtypes: float64(1), int64(1)
memory usage: 30.5 MB

In [19]:
# # Convert Data Format
df['Total_Dollar_Spent'] = df['Total_Dollar_Spent'].astype('float64')

In [23]:
df.Total_Dollar_Spent.describe()

count    594285.000000
mean        702.376620
std        1538.571913
min      -67315.700000
25%          43.970000
50%         209.860000
75%         718.690000
max      309417.810000
Name: Total_Dollar_Spent, dtype: float64

In [26]:
import seaborn as sns
sns.displot(df, x='Total_Dollar_Spent')

NameError: ignored

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Fiscal_Year_Month                1000 non-null   int64
 1   Fiscal_Year_Number               1000 non-null   int64
 2   Business_Date                    1000 non-null   object
 3   Transaction_Dttm                 1000 non-null   object
 4   Channel                          1000 non-null   object
 5   Fulfillment_Type                 1000 non-null   object
 6   Store_Number                     1000 non-null   int64
 7   Customer_ID                      661 non-null    float64
 8   Tier_at_the_time_of_transaction  206 non-null    object
 9   Current_Tier                     661 non-null    object
 10  Days_In_PowerUp                  211 non-null    float64
 11  Days_In_Current_Tier             211 non-null    float64
 12  SKU                              1000 non-null   object
 13  Level_1                          1000 non-null   object
 14  Level_2                          1000 non-null   object
 15  Level_3                          1000 non-null   object
 16  Level_4                          1000 non-null   object
 17  Level_5                          1000 non-null   object
 18  order_no                         1000 non-null   int64
 19  line_no                          1000 non-null   int64
 20  Promotion_Description            92 non-null     object
 21  Campaign_Description             92 non-null     object
 22  Five_Dollar_Discount_Flag        92 non-null     object
 23  Sales_Amt                        1000 non-null   object
 24  Sales_Qty                        1000 non-null   object
 25  discount_amt                     92 non-null     object
 26  Margin_Amt                       1000 non-null   object
 27  Net_Sale_Price                   1000 non-null   object
dtypes: float64(3), int64(5), object(20)
memory usage: 218.9+ KB